<div class="hero-unit">
	<h1>
		Create a crowfunding project!
	</h1>
	<div>
		<img src="http://img.blogduwebdesign.com/benjamin-sanchez/737/AngularJS.jpg" />
	</div>
	<div>
		<img src="http://www.bennadel.com/resources/uploads/2013/feelings_about_angularjs_over_time.png" />
	</div>

	<div>
		transclusion is the inclusion of a document or part of a document into another document by reference.
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Transclusion_simple.svg/250px-Transclusion_simple.svg.png"/>
	</div>
	<p>
		<a href="#/new" class="btn btn-primary btn-large">Create our first project</a>
	</p>
</div>